/* This will point to the root of the document that it the html element and the variable will be available throughout the entire app. It's also known as global variable */
:root {
  --beige: #ffeead;
  --yellow: #ffcc5c;
  --red: #ff6f69;
}

html,
body {
  background: var(--beige);
  color: var(--red);
}

h1,
p {
  color: var(--red);
}

#navbar a {
  color: var(--red);
}

/* We can also override the CSS variable. Here note that all the elements that inherit the item class in the DOM also gets the updated red variable value */
.item {
  --red: #ff8e69;
  background: var(--yellow);
}

button {
  background: var(--red);
  color: var(--yellow);
}
